html, body {
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
}
.connect-button {
   font-weight: bold;
   text-transform: uppercase;
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   width: 320px;
   height: 40px;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(255, 255, 255, 1);
   border-radius: 10px;
   padding: 12px;
   border: 3px solid black;
   transition: all ease 0.1s;
   cursor: default;
   padding: 30px;
   font-size: 2rem;
   font-family: inherit;
}

.connect-button:hover:not(:disabled) {
   background-color: rgb(0, 132, 255);
}

.connect-button:active:not(:disabled) {
   background-color: rgb(0, 89, 172);
}

@keyframes animMarqueeFirst {
   0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }

   100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
   }
}

@keyframes animMarqueeSecond {
   0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
   }

   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);

   }
}

.marquee-container {
   width: 100%;
   overflow: hidden;
   position: fixed;
   top: 0;
   z-index: 100;
   font-size: 1.5rem;
   background-color: #000000;
   display: flex;
   padding: 8px 0;
}

.marquee {
   color: #fff;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   white-space: nowrap;
}

.marquee--first {
   -webkit-animation: animMarqueeFirst 6s linear infinite;
   animation: animMarqueeFirst 6s linear infinite;
}

.marquee--second {
   -webkit-animation: animMarqueeSecond 6s linear infinite;
   animation: animMarqueeSecond 6s linear infinite;
   position: absolute;
}


.marquee span::after {
   content: '///';
   padding: 0px 0.8rem;
}

/* @media only screen and (min-width: 960px) {
   @keyframes animMarqueeFirst {
      0% {
         -webkit-transform: translateY(100%);
         transform: translateY(100%);
      }

      100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
      }
   }

   @keyframes animMarqueeSecond {
      0% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
      }

      100% {
         -webkit-transform: translateY(-100%);
         transform: translateY(-100%);

      }
   }

   .marquee-container {
      height: 100%;
      width: auto;
      right: 0;
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      padding: 0 8px;
   }

   .marquee span::after {
      content: '///';
      padding: 0.8rem 0px;
   }
} */